@import url(header.css);
@import url(footer.css);

/*Font header*/
@font-face {
  font-family: "Gothic";
  src: url("../font/Tarocco.woff") format("woff");
}
@font-face {
  font-family: "Jane";
  src: url("../font/JaneLightRegular.woff") format("woff");
}

/*Font main*/

@font-face {
    font-family: "NewQueen";
    src: url("../font/RockwellNova.woff") format("woff");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: rgb(244, 246, 247);
}

/*Arreglo header*/
header {
  background: rgb(4, 30, 58);
}

/*Dise単o en modo dispositivo*/

.contenedorartistas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.imagenartistas {
  position: relative;
  max-height: 90vh;
  overflow: hidden;
  width: 90%;
}

.imagenartistas img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 35px;
}

.tituloartista {
  position: absolute;
  width: 250px;
  top: 0;
  left: 10px;
  color: white;
}

.txtartistas {
  width: 90%;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(134, 135, 136, 0.1);
  border-radius: 35px;
  text-align: justify;
  margin: 3%;
  margin-bottom: 80px;
}

.txtartistas h2 {
  font-family: NewQueen;
  font-size: 35px;
  color: rgb(52, 52, 53);
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 25px;
  margin-top: 15px;
}

.txtartistas p {
  font-family: NewQueen;
  font-size: 15px;
  color: rgb(52, 52, 53);
}

.txtartistascotenido {
  margin: auto;
  max-width: 600px;
  padding-top: 4%;
  padding-bottom: 8%;
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(52, 52, 53);
}


@media (max-width: 315px) {
  .contenedorartistas {
    min-width: 270px;
  }
}

/*Dise単o en modo pc*/

@media screen and (min-width: 1050px) {

  .contenedorartistas {
    flex-direction: row;
    margin-top: 0px;
    max-height: 100vh;
  }

  .imagenartistas {
    position: relative;
    top: 0;
    left: 0;
    width: 50vw;
    max-height: 100vh;
    overflow: hidden;
    z-index: -1;
  }

  .imagenartistas img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
    position: relative; /* A単adido */
    top: -90px; /* A単adido */
  }

  .txtartistas {
    width: 50vw;
    height: 100%;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    overflow-x: hidden;
    background-color: rgba(244, 246, 247, 0);
    box-shadow: none;
  }

  .txtartistas h2 {
    text-align: left;
  }

  .txtartistas p {
    letter-spacing: 0.7px;
  }
}
