@import url(header.css);
@import url(footer.css);

/*Font header*/
@font-face {
  font-family: "Gothic";
  src: url("../font/Tarocco.woff") format("woff");
}
@font-face {
  font-family: "Jane";
  src: url("../font/JaneLightRegular.woff") format("woff");
}
/*Font Main*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

@font-face {
    font-family: "NewQueen";
    src: url("../font/RockwellNova.woff") format("woff");
}

/*Font Footer*/
@font-face {
  font-family: "ParisLPA";
  src: url("../font/FeniceStd-Regular.woff") format("woff");
}
@font-face {
  font-family: "BodoniMT";
  src: url("../font/BodoniMT.woff") format("woff");
}
@font-face {
  font-family: "Laika";
  src: url("../font/DidotRoman.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: rgb(244, 246, 247);
}

main {
  margin-top: 75px;
  margin-bottom: 15px;
}

/*Arreglo header*/
header {
  background: rgb(4, 30, 58);
}

/*Texto contacto y mapa modo celular*/

.contacto .gridcontacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contacto .gridcontacto .textocontacto {
  font-family: NewQueen;
  background-color: white;
  text-align: justify;
  width: 94%;
  max-width: 700px;
  box-shadow: 3px 3px 3px rgba(134, 135, 136, 0.1);
  border-radius: 35px;
  color: rgb(52, 53, 54);
  margin: 3%;
  padding-top: 4%;
  padding-bottom: 15%;
}

.textocontacto h1 {
  font-family: Gothic;
  text-align: center;
  font-size: 32px;
  padding-top: 3%;
  line-height: 1.4;
  font-size: 39px;
  letter-spacing: 2px;
  margin-top: 10px
}

.textocontacto a {
  text-decoration: none;
  color: rgb(67, 67, 67);
}

.textocontacto p {
  text-align: center;
  padding-top: 3%;
  font-size: 16px;
  line-height: 1.4;
}

.contacto .gridcontacto .divmapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 94%;
  margin: 3%;
}

.contacto .gridcontacto .divmapa .mapa {
  width: 100%;
  max-width: 700px;
  border-radius: 30px;
  box-shadow: 3px 3px 3px rgba(134, 135, 136, 0.1);
}

/*Horario*/
.centrarhorario {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 80px;
}

.horario {
  font-family: NewQueen;
  margin: 3%;
  width: 94%;
  max-width: 700px;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  background: white;
  box-shadow: 3px 3px 3px rgba(134, 135, 136, 0.1);
  border-radius: 35px;
  line-height: 1.5;
}

.gridhorario {
  display: grid;
  margin: auto;
  width: 210px;
  grid-gap: 2px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 50% 50%;
  padding-bottom: 3%;
  padding-top: 5px;
  align-items: center;
}

.txthorario {
  font-family: Gothic;
  font-size: 23px;
  color: #454647;
}

.diashorario {
  text-align: left;
  grid-row-start: 3;
  grid-row-end: 4;
  color: #535353;
}

.horashorario {
  grid-row-start: 4;
  grid-row-end: 3;
  text-align: right;
  color: #535353;
  
}

/*Maximo modo pc*/
@media (min-width: 1400px) {
  .contacto {
    max-width: 1400px;
  }
  .horario {
    max-width: 1400px;
  }
}

/*Texto y mapa modo pc*/
@media screen and (min-width: 1050px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    min-height: 1000px;
    margin-top: 200px;
    margin-bottom: 5px;
  }

  .contacto {
    width: 100%;
  }

  .contacto .gridcontacto {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .contacto .gridcontacto .divmapa {
    width: 100%;
    height: 100%;
  }

  .contacto .gridcontacto .divmapa .mapa {
    width: 100%;
    max-width: 700px;
  }

  .contacto .gridcontacto .textocontacto {
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: 3px 3px 3px rgba(134, 135, 136, 0);
    padding-bottom: 11%;
  }

  .contacto .gridcontacto .textocontacto h1 {
    text-align: center;
  }

  .contacto .gridcontacto .textocontacto p {
    text-align: center;
    letter-spacing: 0.3px;
  }

  /*Horario*/

  .centrarhorario {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 200px;
  }

  .horario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    z-index: -1;
    margin: 0;
    padding-top: 4%;
    padding-bottom: 0%;

    padding-top: 2%;
    border-top: 2px solid rgb(4, 30, 58);
    border-bottom: 2px solid rgb(4, 30, 58);
    background-color: transparent;
    box-shadow: 3px 3px 3px rgba(134, 135, 136, 0);
  }

  .txthorario,
  .diashorario,
  .horashorario {
    color: #0e0d0d;
  }
}
