/*Estilos modos dispositivo*/

/*Estilos Categoria*/
.categorias_inicio {
  width: 100%;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url(../images/categorias/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.categorias_inicio .background_categorias {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
}

.categorias_inicio .background_categorias .textos_categorias {
  color: white;
  margin-top: 50px;
}

.categorias_inicio .background_categorias .textos_categorias h2 {
  font-family: TestRegular;
  font-size: 35px;
  width: 290px;
  line-height: 1;
  letter-spacing: 0.9px;
}

.categorias_inicio .background_categorias .textos_categorias p {
  font-family: ExpoRegular;
  font-size: 16px;
  letter-spacing: 0.6px;
  padding: 0;
  margin-top: 10px;
  width: 90%;
}

.categorias_inicio .background_categorias .contenedor_categorias {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}

.categorias_inicio
  .background_categorias
  .contenedor_categorias
  .contenedor_imagenes_categorias {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  flex-wrap: nowrap;
  padding-right: 35px;
  cursor: grab;
}

.categorias_inicio
  .background_categorias
  .contenedor_categorias
  .contenedor_imagenes_categorias::-webkit-scrollbar {
  height: 6px;
  background-color: rgb(172, 172, 172);
  border-radius: 15px;
}

.categorias_inicio
  .background_categorias
  .contenedor_categorias
  .contenedor_imagenes_categorias::-webkit-scrollbar-thumb {
  background-color: rgb(29, 74, 136);
  border-radius: 15px;
}

.categorias_inicio
  .background_categorias
  .contenedor_categorias
  .contenedor_imagenes_categorias
  .imagenes_categorias {
  width: 260px;
  height: 350px;
  color: white;
  flex-shrink: 0;
  margin-bottom: 15px;
}

.categorias_inicio
  .background_categorias
  .contenedor_categorias
  .contenedor_imagenes_categorias
  .imagenes_categorias
  img {
  width: 100%;
  height: 90%;
  display: block;
  object-fit: cover;
  border-radius: 30px;
}

.categorias_inicio
  .background_categorias
  .contenedor_categorias
  .contenedor_imagenes_categorias
  .imagenes_categorias
  p {
  font-family: TestRegular;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0;
  margin-top: 15px;
  font-weight: bold;
}

/*Estilos Video*/
.banner {
  margin: auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  overflow: hidden;
}

.banner .contimgbanner {
  width: 100%;
  height: 80vh;
  filter: brightness(50%);
}

.banner .contimgbanner .videobanner {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-color: black;
}

.banner .txtslider {
  position: absolute;
  text-align: center;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.banner .txtslider h2 {
  font-family: TestRegular;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.banner .txtslider p {
  margin-top: 0;
  margin-bottom: 9%;
  padding: 0;
  color: white;
  font-family: ExpoRegular;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.2px;
}

.banner .txtslider a p {
  text-decoration: underline;
  text-underline-offset: 13px;
}

/*Botón WhatsApp*/
.icono_whatsapp {
  position: fixed;
  z-index: 1;
  width: 64px;
  height: 64px;
  line-height: 55px;
  bottom: 15px;
  right: -15px;
  opacity: 0;
  transition: 0.5s;
}

.icono_whatsapp img {
  width: 64px;
  height: 64px;
}

.icono_whatsapp:hover {
  width: 64px;
  height: 64px;
  transition: 0.5s;
}

.aparecer_icono_whatsapp {
  opacity: 100%;
  right: 15px;
}

.desaparecer_icono_whatsapp {
  right: -15px;
  opacity: 0;
}

/*Estilos collage*/
.collage {
  width: 100%;
  position: relative;
  background: rgb(2, 19, 37);
}

.collage .background_collage {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*Estilos texto collage*/
.collage .background_collage .texto_collage {
  width: 100%;
  z-index: 1;
  color: white;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
}

.collage .background_collage .texto_collage .titulo_1 {
  font-family: TestRegular;
  font-size: 35px;
  line-height: 0.9;
  margin-bottom: 15px;
}

.collage .background_collage .texto_collage .titulo_2 {
  font-family: TestRegular;
  font-size: 30px;
  letter-spacing: 1px;
  line-height:20px;
}

.collage .background_collage .texto_collage p {
  font-family: ExpoRegular;
  font-size: 16px;
  letter-spacing: 0.6px;
  padding: 0;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 95%;
}

.collage .background_collage .texto_collage a {
  font-family: "Roboto", sans-serif;
  color: rgb(248, 245, 237);
  font-size: 15px;
  letter-spacing: 0.4px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid rgb(248, 245, 237);
  padding-bottom: 3px;
}

/*Grid fotos*/

.collage .background_collage .contenedor_collage {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 50px;
}

.collage .background_collage .contenedor_collage .contenedor_imagenes_collage {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px;
  grid-auto-rows: 40px;
  grid-auto-flow: dense;
}

.collage
  .background_collage
  .contenedor_collage
  .contenedor_imagenes_collage
  .imagenes_collage:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.collage
  .background_collage
  .contenedor_collage
  .contenedor_imagenes_collage
  .imagenes_collage:nth-child(2) {
  grid-row: span 3;
}

.collage
  .background_collage
  .contenedor_collage
  .contenedor_imagenes_collage
  .imagenes_collage:nth-child(3) {
  grid-row: span 4;
}

.collage
  .background_collage
  .contenedor_collage
  .contenedor_imagenes_collage
  .imagenes_collage:nth-child(4) {
  grid-row: span 4;
}

.collage
  .background_collage
  .contenedor_collage
  .contenedor_imagenes_collage
  .imagenes_collage:nth-child(5) {
  grid-row: span 3;
}

.collage
  .background_collage
  .contenedor_collage
  .contenedor_imagenes_collage
  .imagenes_collage
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*Mapa inicio*/
.mapa_inicio {
  width: 100%;
  height: 100vh;
  background: rgb(2, 19, 37);
  color: white;
}

.mapa_inicio .contenedor_mapa {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.mapa_inicio .contenedor_mapa h2 {
  font-family: TestRegular;
  font-size: 30px;
  width: 90%;
  margin-left: 6%;
  line-height: 0.9;
  letter-spacing: 0.8px;
  margin-bottom: 10px;
}

.mapa_inicio .contenedor_mapa p {
  font-family: TestRegular;
  font-style: italic;
  font-size: 19px;
  letter-spacing: 0.8px;
  line-height:20px;
  padding: 0;
  margin-top: 5px;
  width: 90%;
  margin-left: 6%;
}

.mapa_inicio .contenedor_mapa .mapa_google_inicio {
  width: 100%;
  height: 70%;
  justify-self: center;
  margin-top: 10%;
  padding-left: 30px;
  padding-right: 30px;
}

.mapa_inicio .contenedor_mapa .mapa_google_inicio .mapa_inicio {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 3px 3px 3px rgba(134, 135, 136, 0.1);  
}

/*Dispositivos pequeños*/
@media (max-width: 312px) {
  /*Estilos Categoria*/
  .categorias_inicio {
    min-width: 270px;
  }

  .categorias_inicio .background_categorias .textos_categorias h2 {
    width: 230px;
  }

  .categorias_inicio .background_categorias {
    padding-left: 15px;
  }

  .categorias_inicio
    .background_categorias
    .contenedor_categorias
    .contenedor_imagenes_categorias {
    padding-right: 15px;
  }

  /*Estilos Video*/
  .banner {
    min-width: 270px;
  }

  /*Estilos collage*/
  .collage {
    min-width: 270px;
  }

  .collage .background_collage .texto_collage .titulo_1 {
    width: 90%;
    font-size: 25px;
    margin-bottom: 5px;
  }

  .collage .background_collage .texto_collage .titulo_2 {
    font-size: 17px;
    letter-spacing: 0.2px;
  }

  .collage .background_collage .texto_collage p {
    font-size: 15px;
    letter-spacing: 0.3px;
    width: 90%;
  }

  .collage .background_collage .texto_collage a {
    font-size: 14px;
    width: 180px;
    margin-top: 30px;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .collage .background_collage .contenedor_collage {
    padding-left: 15px;
    padding-right: 15px;
  }

  .collage .background_collage .texto_collage {
    padding-left: 15px;
  }

  /*Estilos mapa*/
  .mapa_inicio {
    min-width: 270px;
  }

  .mapa_inicio .contenedor_mapa h2 {
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: 0.8px;
  }

  .mapa_inicio .contenedor_mapa p {
    font-size: 19px;
    line-height: 1.2;
  }

  .mapa_inicio .contenedor_mapa .mapa_google_inicio {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/*Modo Pc*/
@media (min-width: 1400px) {
  /*Estilos Categoria*/
  .categorias_inicio {
    max-width: 1920px;
    justify-self: center;
  }

  /*Estilos Video*/
  .banner {
    max-width: 1920px;
  }

  /*Estilos collage*/
  .collage {
    max-width: 1920px;
    justify-self: center;
  }

  .mapa_inicio {
    max-width: 1920px;
    justify-self: center;
  }
}

@media (min-width: 760px) {
  /*Estilos Categoria*/
  .categorias_inicio .background_categorias .textos_categorias {
    padding-left: 20px;
  }

  .categorias_inicio .background_categorias .textos_categorias h2 {
    font-size: 60px;
    margin-bottom: 30px;
  }

  .categorias_inicio .background_categorias .textos_categorias p {
    font-size: 18px;
  }

  .categorias_inicio
    .background_categorias
    .contenedor_categorias
    .contenedor_imagenes_categorias
    .imagenes_categorias
    p {
    font-size: 15px;
  }

  .categorias_inicio .background_categorias .contenedor_categorias {
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .categorias_inicio
    .background_categorias
    .contenedor_categorias
    .contenedor_imagenes_categorias {
    padding-right: 100px;
  }

  .categorias_inicio
    .background_categorias
    .contenedor_categorias
    .contenedor_imagenes_categorias
    .imagenes_categorias {
    width: 380px;
    height: 530px;
    margin-bottom: 15px;
  }

  .categorias_inicio .background_categorias {
    padding-left: 0px;
  }

  .categorias_inicio .background_categorias .textos_categorias {
    margin-top: 90px;
    margin-left: 100px;
  }

  /*Estilos Video*/
  .banner .contimgbanner {
    height: 95vh;
  }

  .banner .txtslider h2 {
    font-size: 70px;
    margin-bottom: 40px;
    letter-spacing: 2px;
  }

  .banner .txtslider p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  /*Estilos WhatsApp*/
  /*Icono WhatsApp modo dispositivo*/
  .icono_whatsapp {
    width: 100px;
    height: 100px;
    line-height: 55px;
    bottom: 30px;
    right: -30px;
    transition: 0.5s;
  }

  .icono_whatsapp img {
    width: 100px;
    height: 100px;
    transition: 0.5s;
  }

  .icono_whatsapp:hover {
    width: 120px;
    height: 120px;
    transition: 0.5s;
  }

  .icono_whatsapp img:hover {
    width: 120px;
    height: 120px;
    transition: 0.5s;
  }

  .aparecer_icono_whatsapp {
    opacity: 100%;
    right: 30px;
  }

  .desaparecer_icono_whatsapp {
    right: -30px;
    opacity: 0;
  }

  /*Estilos collage*/
  .collage .background_collage {
    /*min-height: 100vh;*/
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
  }
  /*Textos Collage*/
  .collage .background_collage .texto_collage {
    width: 90%;
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .collage .background_collage .texto_collage .titulo_1 {
    font-size: 60px;
    margin-bottom: 40px;
  }

  .collage .background_collage .texto_collage .titulo_2 {
    font-size: 55px;
  }

  .collage .background_collage .texto_collage p {
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 80%;
    max-width: 900px;
    padding-left: 10%;
  }

  .collage .background_collage .texto_collage a {
    font-size: 15px;
    width: 80%;
    margin-left: 10%;
  }

  /*Grid Collage*/
  .collage .background_collage .contenedor_collage {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    width: 100%;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 0;
  }

  .collage
    .background_collage
    .contenedor_collage
    .contenedor_imagenes_collage {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 700px;
    grid-auto-rows: unset;
    grid-auto-flow: unset;
  }

  .collage
    .background_collage
    .contenedor_collage
    .contenedor_imagenes_collage
    .imagenes_collage:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .collage
    .background_collage
    .contenedor_collage
    .contenedor_imagenes_collage
    .imagenes_collage:nth-child(2),
  .collage
    .background_collage
    .contenedor_collage
    .contenedor_imagenes_collage
    .imagenes_collage:nth-child(3) {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    grid-row: 1 / 2;
  }

  .collage
    .background_collage
    .contenedor_collage
    .contenedor_imagenes_collage
    .imagenes_collage:nth-child(4),
  .collage
    .background_collage
    .contenedor_collage
    .contenedor_imagenes_collage
    .imagenes_collage:nth-child(5) {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    grid-row: 1 / 2;
  }

  .collage
    .background_collage
    .contenedor_collage
    .contenedor_imagenes_collage
    .imagenes_collage:not(:nth-child(1)) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .collage
    .background_collage
    .contenedor_collage
    .contenedor_imagenes_collage
    .imagenes_collage:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 400px;
  }
  .collage
    .background_collage
    .contenedor_collage
    .contenedor_imagenes_collage
    .imagenes_collage:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 400px;
  }
  .collage
    .background_collage
    .contenedor_collage
    .contenedor_imagenes_collage
    .imagenes_collage:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    height: 400px;
  }
  .collage
    .background_collage
    .contenedor_collage
    .contenedor_imagenes_collage
    .imagenes_collage:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    height: 400px;
  }

  .collage
    .background_collage
    .contenedor_collage
    .contenedor_imagenes_collage {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    /*height: 90vh;*/
    grid-auto-rows: unset;
  }

  .collage
    .background_collage
    .contenedor_collage
    .contenedor_imagenes_collage
    .imagenes_collage:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .collage
    .background_collage
    .contenedor_collage
    .contenedor_imagenes_collage
    .imagenes_collage {
    overflow: hidden;
  }

  .collage
    .background_collage
    .contenedor_collage
    .contenedor_imagenes_collage
    .imagenes_collage
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease-in-out;
  }

  .collage
    .background_collage
    .contenedor_collage
    .contenedor_imagenes_collage
    .imagenes_collage:hover
    img {
    transform: scale(1.1);
  }

  /*Mapa*/
  .mapa_inicio .contenedor_mapa h2 {
    font-size: 60px;
    margin-bottom: 30px;
  }

  .mapa_inicio .contenedor_mapa p {
    font-size: 30px;
  }

  .mapa_inicio {
    height: 100%;
  }

  .mapa_inicio .contenedor_mapa {
    padding-top: 50px;
  }

  .mapa_inicio .contenedor_mapa .mapa_google_inicio {
    width: 100%;
    height: 70%;
    margin-top: 50px;
    padding-bottom: 10%;
  }

  .mapa_inicio .contenedor_mapa .mapa_google_inicio .mapa_inicio {
    width: 80%;
    height: 80vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
