@import url(header.css);
@import url(productos.css);
@import url(footer.css);

/*Font header*/
@font-face {
  font-family: "Gothic";
  src: url("../font/Tarocco.woff") format("woff");
}
@font-face {
  font-family: "Jane";
  src: url("../font/JaneLightRegular.woff") format("woff");
}

/*Font main*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@font-face {
  font-family: "ExpoRegular";
  src: url("../font/Muli-Regular.woff") format("woff");
}

/*Font Footer*/
@font-face {
  font-family: "ParisLPA";
  src: url("../font/FeniceStd-Regular.woff") format("woff");
}
@font-face {
  font-family: "BodoniMT";
  src: url("../font/BodoniMT.woff") format("woff");
}
@font-face {
  font-family: "Laika";
  src: url("../font/DidotRoman.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.noscroll2 {
  overflow: hidden;
}

header {
  background: rgb(4, 30, 58);
}

/*Productos modo dispositivo*/

.lineagris {
  width: 80%;
  height: 2px;
  background-color: rgb(25, 26, 26);
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 50px;
}

.titulo_slider_producto {
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-width: 270px;
  margin-top: 30px;
  margin-top: 58px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.titulo_slider_producto h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
  letter-spacing: 10px;
  text-align: center;
  padding-left: 10px;
  margin-bottom: 10px;
  color: rgb(8, 36, 78);
}

.titulo_producto {
  width: 100%;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  margin-top: 60px;
  text-align: center;
}

.titulo_producto h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 5px;
  color: #c49767;
}

@media (max-width: 310px) {
  .titulo_producto h2 {
    letter-spacing: 0px;
  }
}

.titulo_producto p,
.titulo_slider_producto p {
  font-family: Gothic;
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 20px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  color: rgb(8, 36, 78);
}

.titulo_producto p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(4, 20, 43);
  text-align: left;
  padding-left: 15px;
  padding-bottom: 30px;
}

.txt_detalles {
  height: 35px;
  font-weight: bold;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 40px;
}

.tipo_ext_card {
  padding-bottom: 20px;
}

.tipo_ext_card img {
  margin-right: 8px;
}

.titulo_slider_producto p {
  margin: auto;
  width: 75%;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid rgb(17, 17, 17);
  padding-left: 13px;
  font-style: italic;
  padding-bottom: 30px;
}

.descripcion_producto_scroll {
  max-height: 250px;
  max-width: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 10px;
  justify-self: center;
}

.descripcion_producto_scroll::-webkit-scrollbar {
  width: 3px;
  background-color: rgb(172, 172, 172);
  border-radius: 15px;
}

.descripcion_producto_scroll::-webkit-scrollbar-thumb {
  background-color: rgb(29, 74, 136);
  border-radius: 15px;
}

.boton_compra_producto {
  width: 90%;
  max-width: 550px;
  height: 50px;
  background-color: rgb(4, 30, 58);
  margin-top: 20px;
  justify-self: center;
  transition: 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton_compra_producto:hover {
  background-color: rgb(22, 52, 83);
  transition: 0.7s;
}

.boton_compra_producto a {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: white;
}

.txt_cotizacion {
  width: 90%;
  max-width: 550px;
  justify-self: center;
  margin-top: 10px;
}

.txt_cotizacion p {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 13px;
  color: rgb(8, 36, 78);
}

/*Comienzo de galeria de fotos*/

.cont_product {
  width: 100%;
  min-width: 270px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  color: rgb(1, 12, 36);
  margin-bottom: 50px;
}

.contenedor_productos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.slider_producto {
  margin-top: 20px;
  position: relative;
  width: 400px;
  height: 400px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
}

.slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 800px;
  z-index: -1;
}

.slide_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

#i1,
#i2,
#i3 {
  display: none;
}

.prev,
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.692);
  color: rgba(18, 18, 19, 0.651);
  border-radius: 50%;
  font-size: 25px;
  font-family: monospace;
}

.prev {
  left: 10px;
  top: 50%;
}

.next {
  top: 50%;
  right: 10px;
}

.prev:hover,
.next:hover {
  background-color: rgba(247, 247, 248, 0.37);
  color: rgb(26, 25, 25);
}

.contenedor_nive_slide {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

#nav_slide {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.cont_dot {
  display: flex;
  overflow: hidden;
}

.dots {
  width: 100px;
  height: 100px;
}

#dot1 img,
#dot2 img,
#dot3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}

#dot1:hover,
#dot2:hover,
#dot3:hover {
  filter: blur(1.2px);
}

#i1:checked + #dot1,
#i2:checked + #dot2,
#i13:checked + #dot3 {
  filter: blur(1.2px);
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three {
  z-index: 9;
}

.whitegaleri {
  margin-bottom: 30px;
}

/*Fin de galeria de fotos*/

/*Comienzo Lightbox*/

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.925);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#contenedor-lightbox {
  width: 100%;
  padding: 2px;
  position: relative;
  display: flex;
  justify-content: center;
}

#contenedor-lightbox img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #f3f3f3;
}

#btn-cierra,
#btn-retrocede,
#btn-adelanta {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.295);
  color: black;
  border-radius: 50px;
  font-size: 1.7rem;
  top: 50%;
  right: 10px;
  z-index: 101;
}

#btn-cierra {
  top: 10px;
}

#btn-retrocede {
  left: 10px;
}

.sliderlightbox {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 15px;
  list-style: none;
}

.sliderlightbox input[type="radio"] {
  display: none;
}

/*Fin lightbox*/

/*Tipo de extintores*/

.cont_tipo {
  border-bottom: none;
  padding-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor_tipo_ext {
  width: 100%;
  min-width: 270px;
}

.tipo_ext {
  padding: 20px;
  color: rgb(8, 36, 78);
}

.titulo_tipo_ext h2 {
  font-size: 25px;
  text-align: center;
  font-family: monospace;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#tipo_ext {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#tipo_ext img {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

#tipo_ext p {
  font-size: 17px;
  font-family: "Goudy Bookletter 1911", serif;
  letter-spacing: 2px;
  line-height: 25px;
  margin-bottom: 35px;
}

.tipo_a {
  border-bottom: 2px solid rgb(6, 163, 77);
}

.tipo_b {
  border-bottom: 2px solid rgb(252, 52, 52);
}

.tipo_c {
  border-bottom: 2px solid rgb(43, 93, 255);
}

.tipo_K {
  border-bottom: 2px solid rgb(221, 221, 221);
}

.tipo_K img {
  background-color: white;
}

/*Anillos*/
.contenedor_anillos {
  width: 100%;
  min-width: 270px;
}

.imagen_anillos {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(8, 36, 78);
}

.imagen_anillos h2 {
  font-family: monospace;
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
}

.imagen_anillos img {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

/*Productos modo pc*/
@media screen and (min-width: 800px) {
  /*Tipo de extintor*/
  .titulo_tipo_ext h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .cont_tipo {
    border-bottom: 2px solid rgba(133, 130, 130, 0.411);
    padding-bottom: 50px;
  }

  #tipo_ext {
    width: 300px;
    margin-left: 25px;
    margin-right: 25px;
  }

  #tipo_ext p {
    font-size: 18px;
  }
  /*Anillos*/
  .imagen_anillos h2 {
    font-size: 30px;
    margin-top: 50px;
  }

  .imagen_anillos img {
    width: auto;
    height: 500px;
  }
}

@media (min-width: 1300px) {
  .titulo_slider_producto h2 {
    font-size: 2.6em;
  }

  .titulo_slider_producto p {
    font-size: 20px;
  }

  .tipo_ext_card {
    border-bottom: none;
  }

  .cont_product {
    margin-bottom: 110px;
  }

  .contenedor_productos {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 30px;
  }

  .slider_producto {
    width: 650px;
    height: 700px;
  }

  .contenedor_nive_slide {
    width: 550px;
  }

  .titulo_producto p {
    text-align: left;
    width: 350px;
    margin-left: 20px;
  }

  .galeria_cont {
    max-width: 1400px;
  }

  .whitegaleri {
    margin-bottom: 100px;
  }

  /*Comienzo Ligthbox*/
  #btn-cierra:hover,
  #btn-retrocede:hover,
  #btn-adelanta:hover {
    background-color: #ffffffcc;
    color: rgb(37, 37, 37);
  }

  #contenedor-lightbox img {
    width: auto;
    height: 80vh;
  }

  /*Fin Lightbox*/
}
